<%- include('header') %>
<section id="about" class="contianer-fluid about-us">
    <div class="container">
        <div class="row session-title">
            <h2>About Us</h2>
            <p>The actual purpose of this attempt is to help people by donating blood and finding donor at the
                exact moment when they need to</p>
        </div>
        <div class="row">
            <div class="col-md-6 text ccontent">
                <h1>About Blood Doners</h1>
                <div class="bbar"></div>
                <p>One of the most necessary element of human body is blood. In our country, it is really
                    complicated to find a donor at the time of need. We are trying to find a easy way of blood
                    donation.
                    People tries multiple ways to find a blood donor like they post on social media, contact
                    with blood donation group, relatives and friends etc. But in various times they are unable
                    to manage blood.
                    This project is based on blood donation in order to find blood donor easily in proper time
                    at proper place. As a result the sufferings of people will be reduce.
                    This website will hold various kinds of facilities like it display the details of blood
                    donor, quantity of blood, the details and location of that person who requires the blood.
                </p>

            </div>
            <div class="col-md-6 image">
                <img src="images/about.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<%- include('footer') %>