<%- include('header') %>
<div class="row content-ro ml-auto my-5">
    <div class="col-lg-4 col-md-12 footer-form">
        <div class="form-card">
            <div class="form-title">
                <h4 style="color: white;">Quick Message</h4>
            </div>
            <div class="form-body">
                <input type="text" placeholder="Enter Name" class="form-control">
                <input type="text" placeholder="Enter Mobile no" class="form-control">
                <input type="text" placeholder="Enter Email Address" class="form-control">
                <input type="text" placeholder="Your Message" class="form-control">
                <button class="btn btn-sm btn-primary w-100">Send Request</button>
            </div>
        </div>
    </div>
</div>

<%- include('footer') %>