<%- include('header') %>
<div class="hosregBanner">
    <div class="container ff">
        <div class="title">Registration</div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Hospital name</span>
                    <input type="text" placeholder="Enter Hospital name" required>
                </div>
                <div class="input-box">
                    <span class="details">Liecence ID</span>
                    <input type="text" placeholder="Enter Liecence ID" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Enter Email" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter Password" required>
                </div>
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="text" placeholder="Enter Phone number" required>
                </div>
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="password" placeholder="Confirm Password" required>
                </div>
            </div>

            <div class="button">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
</div>
<%- include('footer') %>