<%- include('header') %>
<section id="process" class="donation-care">
    <div class="container">
        <div class="row session-title">
            <h2>Donation Process</h2>
            <p>The donation process from the time you arrive center until the time you leave</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 vd">
                <div class="bkjiu">
                    <img src="images/gallery/g1.jpg" alt="">
                    <h3><b>1 - </b>Registration</h3>


                </div>
            </div>
            <div class="col-md-3 col-sm-6 vd">
                <div class="bkjiu">
                    <img src="images/gallery/g2.jpg" alt="">
                    <h3><b>2 - </b>Login</h3>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 vd">
                <div class="bkjiu">
                    <img src="images/gallery/g3.jpg" alt="">
                    <h3><b>3 - </b>Donation</h3>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 vd">
                <div class="bkjiu">
                    <img src="images/gallery/g4.jpg" alt="">
                    <h3><b>4 - </b>Save Life</h3>

                </div>
            </div>
        </div>


    </div>
</section>
<%- include('footer') %>